{% extends '@Main/Default/index.html.twig' %}

{% block content %}
    <link  href="{{ asset('css/signUp.css') }}" rel="stylesheet"></link>

    <div class="login-page">
        <h2 style="text-align: center">Ajout Annonce</h2>
        <div class="form">


            {{ form(form) }}

        </div>
    </div>
{% endblock %}